# Environment variables
MONGO_URI=mongodb://localhost:27017/eventbridge
JWT_SECRET=EventBridge2024SuperSecretKeyThatIsAtLeast256BitsLongForHS256Algorithm
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
CORS_ORIGINS=http://localhost:3000,http://localhost:8081
FRONTEND_URL=http://localhost:3000
UPLOAD_DIR=./uploads
